<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chestnut.RouterArchitecture.ModulesCommon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".base.CommonApplication"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.CommonHomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fun.lottieAnimationViewAndVLayout.LottieAnimationViewAndVLayoutTestActivity" />
        <activity
            android:name=".fun.diySurfaceView.DiyTestSurfaceViewActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".fun.hyBluetoothPlay.BluetoothRecordPlayActivity" />

        <service
            android:name=".fun.testBgService.TestBgService"
            android:enabled="true"
            android:exported="true"
            android:process=":TestBgService">
            <intent-filter>
                <action android:name="com.hy.TestBgService" />
            </intent-filter>
        </service>

        <activity android:name=".fun.oemHwl.OemHWLActivity" />
        <activity android:name=".fun.hyMarket.DemoInstallUninstallActivity" />
    </application>

</manifest>